body{
      display: flex;
      justify-content: center;
      margin-top: 100px;
}

.container{
      display: flex;
}

.container img {
      width: 120px;
      margin-left: 10px;
}

.modal{
      display: none;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.253);
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
}

.modal img{
      width: 600px;
      height: 600px;
}