h1 {
      text-align: center;
      font-size: 63px;
}

.container-colunas {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
}

.coluna-estoque {
      width: 35%;
      height: 650px;
      border-radius: 10px;
      background-color: rgb(255, 255, 255);
      border: 2px solid #9e9e9e;
      padding: 10px;
      display: flex;
      flex-direction: column;
}

.coluna-mesas {
      width: 30%;
      height: 650px;
      border-radius: 10px;
      background-color: rgb(255, 255, 255);
      border: 2px solid #9e9e9e;
      padding: 10px;
      display: flex;
      flex-direction: column;
      
      
}

.lista-menu {
      overflow-y: auto;
      max-height: 630px;
      scrollbar-color: transparent transparent;
      scrollbar-width: thin;
}

.lista-menu::-webkit-scrollbar {
      width: 0px;
}

.lista-menu::-webkit-scrollbar-thumb {
      background-color: transparent;
}

.mesa {
      width: 90%;
      height: 220px;
      background-color: rgba(108, 109, 109, 0.336);
      margin-bottom: 15px;
      margin-left: 5%;
      border-radius: 10px;
}

.mesa p, label {
    font-size: 20px;
}

h2{
      text-align: center;
      font-size: 28px;
      margin-top: 0px;
}

.vaziaOuNao{
      display: flex;
      position: relative;
      border: none;
      background-color: rgb(43, 43, 43);
      padding: 5px 10px;
      border-radius: 2px;
      color: rgb(219, 202, 202);
      font-size: 20px;
      top: 20px;
      left: 10px;
      cursor: pointer;
}

.pedidos-mesa{
      width: 55%;
      height: 60px;
      border-radius: 10px;
      background-color: rgb(255, 255, 255);
      border: 2px solid #9e9e9e;
      display: flex;
      flex-direction: column;
      margin-left: 10px;
}
.pedidos-mesa p{
      margin-top: 0;
      margin: 4px;
}

.container-conta-mesa{
      display: flex;
      align-items: center;
      margin-left: 10px;
}

.container-conta-mesa p{
      margin-left: 10px;
}

.alinhar{
      display: flex;
}

.butoes-mesa{
      margin-top: 10px;
      display: flex;
      justify-content: space-evenly;
}

.butoes-mesa button{
      height: 30px;
      width: 120px;
      font-size: 18px;
}

.produto{
      display: flex;
      position: relative;
      top: -5px;
      width: 100%;
      left: -4px;
      background-color: #03030350;
      margin-bottom: -2px;
      height: auto;
      min-height: 30px;
}

.pedidos-mesa {
      height: 60px;
      overflow-y: auto;
      min-height: 80px;
      scrollbar-color: transparent transparent;
      scrollbar-width: thin;
}

.pedidos-mesa::-webkit-scrollbar {
      width: 0px;
}

.pedidos-mesa::-webkit-scrollbar-thumb {
      background-color: transparent;
}

.entregueNaoEntregue{
      height: 25px;
      justify-content: center;
      align-items: center;
      display: flex;
      top: 2px;
      position: absolute;
      right: 2px;
      cursor: pointer;
}

.produtoNoEstoque{
      display: flex;
}
.imagem{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      border-radius: 5px  ;
      border-bottom: 2px solid black;
      background-color: rgba(108, 109, 109, 0.336);
      font-size: 32px;
      color: rgb(43, 43, 43);
}

.produtoNoEstoque p{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 50px;
      border-radius: 5px  ;
      border-bottom: 2px solid black;
      background-color: rgba(108, 109, 109, 0.336);
      font-size: 22px;
      color: rgb(43, 43, 43);
      margin-top: 49px;
      margin-left: 10px;
}

#editarEstoque{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 50px;
      border-radius: 5px;
      border-bottom: 2px solid black;
      background-color: rgba(108, 109, 109, 0.336);
      font-size: 22px;
      color: rgb(43, 43, 43);
      margin-top: 49px;
      margin-left: 10px;
      cursor: pointer;
}

#editarEstoque i{
      margin-left: 5px;
}

img {
      width: 100%;      /* A imagem ocupa 100% da largura da div pai */
      height: auto;     /* Mantém a proporção da imagem */
      display: block;   /* Remove espaço extra abaixo da imagem */
    }