@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
--primary-color: #A964CC;
--primary-color-dark: #D37DFF;
--primary-color-light: #f4e5ec;
--text-dark: #0f172a;
--text-light: #64748b;
--extra-light: #f8fafc;
--white: #ffffff;
--max-width-1400: 1400px;
--max-width-1200: 1200px;
--max-width-900: 900px;
--header-font: "Playfair Display", serif;
}

*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Open Sans';
      }

a {
text-decoration: none;
}

body {
font-family: "Poppins", sans-serif;
}

nav {
background-color: #f3f3f3;
max-width: var(--max-width-1230);
margin: auto;
padding: 2rem 1rem;
display: flex;
align-items: center;
justify-content: space-between;
}

.nav__links {
flex: 1;
list-style: none;
display: flex;
align-items: center;
gap: 2rem;
margin-left: 30px;
}

.link a {
font-weight: 500;
color: var(--text-dark);
}

.link a:hover {
color: var(--primary-color);
}

.nav__logo a {
font-size: 2rem;
font-weight: 800;
font-family: var(--header-font);
color: var(--text-dark);
}

.nav__logo a span {
      font-family: var(--header-font);
color: var(--primary-color);
}

.nav__icons {
flex: 1;
display: flex;
align-items: center;
justify-content: flex-end;
gap: 2rem;
}

.nav__icons span a {
font-size: 1.25rem;
color: var(--text-dark);
}

.nav__icons span a:hover {
color: var(--primary-color);
}


      a{    
            display: inline-block;
            margin-top: -10px;
            align-items: center;
            color: #63465A;
            font-size: 22px;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
           
      }

      

      .body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            background-color: #f3f3f3;
            font-family: Arial, sans-serif;
      }


      .payment-div {
            margin-top: -200px;
            text-align: center;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            width: 60%;
            height: 600px;
      }

      .payment-div h1{
            margin-top: 50px;
      }

      .payment-div p, button {
            margin: 10px 0 40px 0;
      }

     

      .payment-div h1{
            margin-bottom: 20px;
      }

      .payment-div > .atencao{
            margin-bottom: 10px;
      }

      .larger-text {
            font-size: 18px;
            background-color: #A964CC;
            border: 0;
            padding: 5px;
            border-radius: 3px;
            color: white;
      }

      .copiar{
            font-size: 18px;
            background-color: rgb(211, 211, 211);
            border: 0;
            padding: 5px 10px;
            border-radius:  3px;
      }

      .copiar:hover{
            background-color: rgb(180, 180, 180);
            cursor: pointer;
      }
      
      #valorPix{
            margin-left: -290px;
      }
