*{
      border: 0;
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
}
:root{
      --cor-entradas: #0487D9;
      --cor-saidas: #F23C50;
      --cor-lucro: #2AFF63;
      --cor-caixas: #cccccc;
      --cor-principal: #2F3D40;
}

body{
      background-color: var(--cor-caixas);
}
header{
      padding-top: 50px;
      justify-content: center;
      display: flex;
      height: 200px;
      width: 100%;
      background-color: var(--cor-caixas);
}
.card{
      display: flex;
      text-align: center;
      justify-content: center;
      background-color: rgb(255, 255, 255);
      width: 200px;
      height: 150px;
      border-radius: 15px;
      margin:  0 10px ;
      flex-direction: column;
      position: relative;
}
.card h1{
      padding-top: 10px;
      border-radius: 10px 10px 50% 0 ;
      height: 60px;
      position: relative;
      top: -36px;
      right: 0;
      left: 0;
      color: rgb(255, 255, 255);
      background-color: var(--cor-principal);

}
.Conferir{
      font-size: 26px;
      text-decoration: none;
      color: rgb(3, 3, 3);
}
.card p{
      color: rgb(3, 3, 3);
      font-size: 24px;
      margin-top: 0;
}
#section-add{
      background-color: var(--cor-caixas);
      display: flex;
      padding: 10px;
      justify-content: center;
}
#section-add input{
      height: 37px;
      border: 0;
      width: 350px;
      font-size: 22px;
      margin-right: 8px;
      outline: none;
}
#ordenador{
      cursor: pointer;
      outline: none;
      width: 180px;
      height: 57px;
      border: 0;
      border-radius: 25px 0 0 25px;  
      background-color: var(--cor-principal);
      color: white;
      font-size: 22px ;
}
#ordenador:hover{
      background-color:#212a2c;
}
#adicionar:hover{
      background-color: #212a2c;
}
#adicionar{
      height: 57px;
      width: 120px;
      font-size: 22px;
      background-color: var(--cor-principal);
      color: white;
      border-radius: 25px ;  
      cursor: pointer; 
      margin-left: 100px;
}
#enter{
      border-radius: 0 25px 25px 0;
      height: 57px;
      width: 120px;
      font-size: 22px;
      background-color: var(--cor-principal);
      color: white;
}
#enter i {
      transform: rotate(90deg);
}
#listagem{
      background-color: var(--cor-caixas);
      display: flex;
      padding: 10px;
      justify-content: center;
      height: auto;
      flex-direction: column;
}
.valores{
      display: flex;
      justify-content: space-between;
      width: 93.8%;
      margin-left: 1%;
      font-size: 22px;
      color: rgb(3, 3, 3);
      background-color: rgb(224, 224, 224);
      padding: 10px 30px 10px 30px;
      padding-left: 170px ;
      margin-bottom: 5px;
      cursor: pointer;
}
.valores:hover{
      background-color: #5757572f;
}
.valores p{
      background-color: #149bcc00;
      width: 30%;
      justify-content: center;
      display: flex;
      position: relative;
}
.valores .valor{
      position: absolute;
      left: 532px;
}
.valores .tipo{
      left: 975px;
      position: absolute;
}
.saida-icon{
      color: var(--cor-saidas);
}
.entrada-icon{
      color:  var(--cor-lucro);
}
.header-listagem{
      display: flex;
      justify-content: space-around;
      font-size: 22px;
}
.linha{
      background-color: #232527;
      width: 98%;
      height: 2px;
      margin-left: 1%;
      margin-top: 20px;
      margin-bottom: 20px;
}
.modal{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      width: 100%;
      background-color: #3232338e;
      position: fixed;
      left: 0;
      top: 0;
}

.usarU{
      color: #149BCC;
}
.modal2{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      width: 100%;
      background-color: #3232338e;
      position: fixed;
      left: 0;
      top: 0;
}
.container-box{
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: white;
      width: 500px;
      height: auto;
}
input, select{
      padding: 10px;
      border: 1px solid black;
      width: 80%;
      margin-left: 1%;
      margin-bottom: 20px;
}
label{
      margin-bottom: 5px;
      font-size: 18px;
      margin-left: 1%;
}
#cancelar{
      font-size: 22px;
      padding: 5px;
      border-radius: 5px;
      background-color: #E51734;
      margin-top: 10px;
      color: white;
      cursor: pointer;
}
#add{
      font-size: 22px;
      padding: 5px;
      border-radius: 5px;
      background-color: #149BCC;
      margin-top: 10px;
      color: white;
      cursor: pointer;
}
#cancelar:hover{
      background-color: #cf0d27;
}

#add:hover{
      background-color:#0f8ebd ;
}
#cancelarU{
      font-size: 22px;
      padding: 5px;
      border-radius: 5px;
      background-color: #E51734;
      margin-top: 10px;
      color: white;
      cursor: pointer;
}
#addU{
      font-size: 22px;
      padding: 5px;
      border-radius: 5px;
      background-color: #149BCC;
      margin-top: 10px;
      color: white;
      cursor: pointer;
}
#cancelarU:hover{
      background-color: #cf0d27;
}

#addU:hover{
      background-color:#0f8ebd ;
}
.escondido{
      display: none;
}
.Excluir{
      background-color: rgba(0, 0, 0, 0.342);
      display: flex;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      justify-content: center;
      align-items: center;
}
.usar{
      background-color: rgba(0, 0, 0, 0.342);
      display: flex;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      justify-content: center;
      align-items: center;
}
.container-excluir{
      background-color: rgb(255, 255, 255);
      padding: 30px;
      width: 230px;
      text-align: center;
      border-radius: 8px;
}
.container-usar{
      background-color: rgb(255, 255, 255);
      padding: 30px;
      width: 230px;
      text-align: center;
      border-radius: 8px;
}
.container-excluir i{
      font-size: 49px;
      margin-bottom: 40px;
      color: #2F3D40;
}
.container-usar i{
      font-size: 49px;
      margin-bottom: 40px;
      color: #2F3D40;
}
.container-info{
      background-color: rgb(255, 255, 255);
      padding: 30px;
      width: 230px;
      text-align: center;
      border-radius: 8px;
}
.container-info i{
      font-size: 49px;
      margin-bottom: 40px;
      color: #149BCC;
}
#excluir{
      margin-top: 40px;
      background-color:#149BCC ;
      color: white;
      padding: 10px 14px;
      margin-right: 5px;
      cursor: pointer;
      border-radius: 3px;
      transition: 0.1s;
}

#excluirU{
      margin-top: 40px;
      background-color:#149BCC ;
      color: white;
      padding: 10px 14px;
      margin-right: 5px;
      cursor: pointer;
      border-radius: 3px;
      transition: 0.1s;
}
#excluirU:hover{
      background-color:#0f8ebd ;
}
#cancelar-excluirU{
      background-color: #E51734;
      color: white;
      padding: 10px;
      margin-right: 5px;
      cursor: pointer;
      border-radius: 3px;
      transition: 0.1s;
}
#cancelar-excluirU:hover{
      background-color: #cf0d27;
}
.informacoes{
      background-color: rgba(0, 0, 0, 0.342);
      display: flex;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      justify-content: center;
      align-items: center;
}
#custo-tipo{
      margin-top: 20px;
}
#cancelar-excluir{
      background-color: #E51734;
      color: white;
      padding: 10px;
      margin-right: 5px;
      cursor: pointer;
      border-radius: 3px;
      transition: 0.1s;
}
#cancelar-excluir:hover{
      background-color: #cf0d27;
}
#fechar{
      margin-top: 40px;
      background-color: #E51734;
      color: white;
      padding: 10px 90px;
      margin-right: 5px;
      cursor: pointer;
      border-radius: 3px;
      transition: 0.1s;
}
#fechar{
      background-color: #cf0d27;
}
#excluir:hover{
      background-color:#0f8ebd ;
}
#escondido{
      display: none;
}
.value{
      display: flex;
      justify-content: center;
}
#olhinho{
      position: relative;
      cursor: pointer;
      margin-left: 10px;
      color: rgb(51, 51, 51);
      transition: 0.5s;
}
#olhinho:hover{
      transform: translateY(-8px)
}
#olhinho1{
      position: relative;
      cursor: pointer;
      margin-left: 10px;
      color: rgb(51, 51, 51);
      transition: 0.5s;
}
#olhinho1:hover{
      transform: translateY(-8px)
}
#olhinho2{
      position: relative;
      cursor: pointer;
      margin-left: 10px;
      color: rgb(51, 51, 51);
      transition: 0.5s;
}
#olhinho2:hover{
      transform: translateY(-8px)
}
.escondeu{
      display: flex;
      position: absolute;
      left: 30px;
      top: 90px;
}
.escondeu i{
      color: rgb(51, 51, 51);
      font-size: 40px;
}
.escondeu1{
      display: flex;
      position: absolute;
      left: 28px;
      top: 90px;
}
.escondeu1 i{
      color: rgb(51, 51, 51);
      font-size: 40px;
}
.escondeu2{
      display: flex;
      position: absolute;
      left: 30px;
      top: 90px;
}
.escondeu2 i{
      color: rgb(51, 51, 51);
      font-size: 40px;
}
#escondido2{
      color: rgba(255, 255, 255, 0);
}
.Conferir:hover{
      text-decoration: underline;
}
.Conferir {
      width: 120px;
      margin-left: 40px;
      font-weight: bold;
      position: relative;
      text-decoration: none;
      color: #2F3D40;
}
.Conferir::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 3px; 
      background-color: #2F3D40;
      transition: width 0.3s ease; 
      transform-origin: bottom left; 
      transform: scaleX(0); 
      pointer-events: none; 
}
.Conferir:hover {
      text-decoration: none; 
}
.Conferir:hover::before {
      width: 100%; 
      transform: scaleX(1); 
}  
.caixa{
      transition: 0.5s;
      cursor: pointer;
}
.caixa:hover{
      padding: 10px 0;
}
.modalClicks{
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: center;
      background-color: #3232338e;
      padding-top: 50px;
      padding-bottom: 50px;
}
.modalClicks p{
      font-size: 22px;
}
.containerClicks{
      background-color: white;
      height: auto;
      width: 500px;
      min-height: 500px;
      border-radius: 10px;
}
.containerClicks h1{
      text-align: center;
      margin-top: 10px;
      margin-bottom: 30px;
}
.containerClicks hr{
      background-color: black;
      height: 1px;
      margin-top: 10px;      
}
.titulo{
      display: flex;
      justify-content: space-around;
}
.saque{
      padding: 5px;
      background-color: #212a2c1e;
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
      margin-bottom: 10px;
}
.saque:hover{
      background-color: #212a2c46;
}
#sairSaque{
      position: fixed;
      margin-top: 40px;
      margin-bottom: 60px;
      background-color:#149BCC ;
      color: white;
      padding: 10px 14px;
      margin-right: 5px;
      cursor: pointer;
      border-radius: 3px;
      transition: 0.1s;
      font-size: 22px;
      bottom: 0;
      width: 200px;
      margin-left: 150px;
      
}
#sairSaque:hover{
      background-color:#0f8ebd ;

}