*{
      border: 0;
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
}

:root{
      --cor-entradas: #0487D9;
      --cor-saidas: #F23C50;
      --cor-lucro: #2AFF63;
      --cor-caixas: #cccccc;
}

body{
      background-color: var(--cor-caixas);
}



header{
      padding-top: 50px;
      justify-content: center;
      display: flex;
      height: 200px;
      width: 100%;
      background-color: var(--cor-caixas);
}

.card{
      display: flex;
      text-align: center;
      justify-content: center;
      background-color: rgb(255, 255, 255);
      width: 200px;
      height: 150px;
      border-radius: 15px;
      margin:  0 10px ;
      flex-direction: column;
      position: relative;
}



.card h1{
      padding-top: 10px;
      border-radius: 10px 10px 50% 0 ;
      height: 60px;
      position: relative;
      top: -36px;
      right: 0;
      left: 0;
      color: rgb(255, 255, 255);
      background-color: #2F3D40;

}

.Conferir{
      font-size: 26px;
      text-decoration: none;
      color: rgb(3, 3, 3);
}
#h1-lucro{
      background-color: #2F3D40;
}

#h1-saidas{
      background-color: #2F3D40;
}

#h1-estoque{
      border-radius: 10px 10px 0 50%;
      background-color: #2F3D40;
}

.card p{
      color: rgb(3, 3, 3);
      font-size: 24px;
      margin-top: 0;
}

#section-add{
      background-color: var(--cor-caixas);
      display: flex;
      padding: 10px;
      justify-content: center;
      background-color: #cfcfcf;

}

#section-add input{
      height: 37px;
      border: 0;
      width: 350px;
      font-size: 22px;
      margin-right: 8px;
      outline: none;
}

#ordenador{
      cursor: pointer;
      outline: none;
      width: 180px;
      height: 57px;
      border: 0;
      border-radius: 25px 0 0 25px;  
      background-color: rgb(61, 129, 255);
      color: white;
      font-size: 22px ;
}

#ordenador:hover{
      background-color: rgb(37, 111, 248);
}

#section-add button:hover{
      background-color: rgb(37, 111, 248);
}



#section-add button{
      height: 57px;
      width: 120px;
      font-size: 22px;
      background-color: rgb(61, 129, 255);
      color: white;
      border-radius: 0 25px 25px 0;  
      cursor: pointer; 
}

#listagem{
      background-color: var(--cor-caixas);
      display: flex;
      padding: 10px;
      justify-content: center;
      height: auto;
      flex-direction: column;
}

.valores{
      display: flex;
      justify-content: space-between;
      width: 93.8%;
      margin-left: 1%;
      font-size: 22px;
      color: rgb(3, 3, 3);
      background-color: rgb(224, 224, 224);
      padding: 10px 30px 10px 30px;
      margin-bottom: 5px;
      cursor: pointer;
}

.valores:hover{
      background-color: #5757572f;
}

.valores p{
      width: 30%;
      display: flex;
      justify-content: center;
      position: relative;
}

.valores .descricao{
      left: -5px;
}

.valores .valor{
      left: 42px;
}

.valores .tipo{
      left: 45px;
}

.saida-icon{
      color: var(--cor-saidas);
}

.entrada-icon{
      color:  var(--cor-lucro);
}

.header-listagem{
      display: flex;
      justify-content: space-around;
      font-size: 22px;
}

.linha{
      background-color: #232527;
      width: 98%;
      height: 2px;
      margin-left: 1%;
      margin-top: 20px;
      margin-bottom: 20px;
}



.modal{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      width: 100%;
      background-color: #3232338e;
      position: fixed;
      left: 0;
      top: 0;
      
}

.container-box{
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: white;
      width: 500px;
      height: auto;
}

input, select{
      padding: 10px;
      border: 1px solid black;
      width: 80%;
      margin-left: 1%;
      margin-bottom: 20px;
}

label{
      margin-bottom: 5px;
      font-size: 18px;
      margin-left: 1%;
}

#cancelar{
      font-size: 22px;
      padding: 5px;
      border-radius: 5px;
      background-color: #E51734;
      margin-top: 10px;
      color: white;
      cursor: pointer;
}

#add{
      font-size: 22px;
      padding: 5px;
      border-radius: 5px;
      background-color: #149BCC;
      margin-top: 10px;
      color: white;
      cursor: pointer;
}

#cancelar:hover{
      background-color: #cf0d27;
}

#add:hover{
      background-color:#0f8ebd ;
}
.escondido{
      display: none;
}

.Excluir{
      background-color: rgba(0, 0, 0, 0.342);
      display: flex;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      justify-content: center;
      align-items: center;

}

.container-excluir{
      background-color: rgb(255, 255, 255);
      padding: 30px;
      width: 230px;
      text-align: center;
      border-radius: 8px;
}

.container-excluir i{
      font-size: 49px;
      margin-bottom: 40px;
      color: #2F3D40;
}

.container-info{
      background-color: rgb(255, 255, 255);
      padding: 30px;
      width: 230px;
      text-align: center;
      border-radius: 8px;
}

.container-info i{
      font-size: 49px;
      margin-bottom: 40px;
      color: #149BCC;
}

#excluir{
      margin-top: 40px;
      background-color:#149BCC ;
      color: white;
      padding: 10px 14px;
      margin-right: 5px;
      cursor: pointer;
      border-radius: 3px;
      transition: 0.1s;
}

.informacoes{
      background-color: rgba(0, 0, 0, 0.342);
      display: flex;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      justify-content: center;
      align-items: center;

}

#custo-tipo{
      margin-top: 20px;
}


#cancelar-excluir{
      background-color: #E51734;
      color: white;
      padding: 10px;
      margin-right: 5px;
      cursor: pointer;
      border-radius: 3px;
      transition: 0.1s;
}

#cancelar-excluir:hover{
      background-color: #cf0d27;
}

#fechar{
      margin-top: 40px;
      background-color: #E51734;
      color: white;
      padding: 10px 90px;
      margin-right: 5px;
      cursor: pointer;
      border-radius: 3px;
      transition: 0.1s;
}

#fechar{
      background-color: #cf0d27;
}

#excluir:hover{
      background-color:#0f8ebd ;
}

#escondido{
      display: none;
}

.value{
      display: flex;
      justify-content: center;
}
#olhinho{
      position: relative;
      cursor: pointer;
      margin-left: 10px;
      color: rgb(51, 51, 51);
      transition: 0.5s;
}

#olhinho:hover{
      transform: translateY(-8px)
}

#olhinho1{
      position: relative;
      cursor: pointer;
      margin-left: 10px;
      color: rgb(51, 51, 51);
      transition: 0.5s;
}

#olhinho1:hover{
      transform: translateY(-8px)
}

#olhinho2{
      position: relative;
      cursor: pointer;
      margin-left: 10px;
      color: rgb(51, 51, 51);
      transition: 0.5s;
}

#olhinho2:hover{
      transform: translateY(-8px)
}

.escondeu{
      display: flex;
      position: absolute;
      left: 30px;
      top: 90px;
}

.escondeu i{
      color: rgb(51, 51, 51);
      font-size: 40px;
}

.escondeu1{
      display: flex;
      position: absolute;
      left: 28px;
      top: 90px;
}

.escondeu1 i{
      color: rgb(51, 51, 51);
      font-size: 40px;
}

.escondeu2{
      display: flex;
      position: absolute;
      left: 30px;
      top: 90px;
}

.escondeu2 i{
      color: rgb(51, 51, 51);
      font-size: 40px;
}

#escondido2{
      color: rgba(255, 255, 255, 0);
}

